* {margin: 0px;
   padding: 0px;         }

html {background-color: blue;}
  
  
 

    p{color: white;  } 

h3 {
  font-family: Oswald;
}
     
    

* { text-align: center;
  color:white;             }
  
